<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="" ng-click="$ctrl.goHome()">Imobiliária UFRGS</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" ng-hide="$ctrl.loggedIn">
                <a class="nav-link" ui-sref="signUp" ui-sref-active="active">Cadastre-se</a>
            </li>
            <li class="nav-item" ng-hide="$ctrl.loggedIn">
                <a class="nav-link" ui-sref="logIn" ui-sref-active="active">Entrar</a>
            </li>
            <li class="nav-item" ng-show="$ctrl.isAdmin">
                <a class="nav-link" ui-sref="insertProperty" ui-sref-active="active">Cadastrar imóveis</a>
            </li>
            <li class="nav-item" ng-show="$ctrl.isManager">
                <a class="nav-link" ui-sref="employeeSignUp" ui-sref-active="active">Cadastrar funcionários</a>
            </li>
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Imoveis</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="link">Imoveis à venda</a>
                    <a class="dropdown-item" href="link">Imoveis para Aluguel</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Anunciar imovel</a>
                </div>
            </li> -->
        </ul>
        <ul class="navbar-nav">
            <span style="padding-right:0.5rem;" class="navbar-text">{{ $ctrl.user.name }}</span>
            <li class="nav-item" ng-show="$ctrl.loggedIn">
                <span class="nav-link" ng-click="$ctrl.logOut()">Sair</span>
            </li>
        </ul>
        
        <!-- Search field -->
        <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Digite aqui" aria-label="Digite aqui">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
        </form> -->
    </div>
</nav>