<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="" ng-click="$ctrl.goHome()">
        <img src="_img/logo.jpg" class="d-inline-block align-top" alt="">
        Imobiliária UFRGS
    </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" ng-hide="$ctrl.loggedIn">
                <a class="nav-link" ui-sref="signUp" ui-sref-active="active">Cadastre-se</a>
            </li>
            <li class="nav-item" ng-hide="$ctrl.loggedIn">
                <a class="nav-link" ui-sref="logIn" ui-sref-active="active">Entrar</a>
            </li>
            <li class="nav-item" ng-show="$ctrl.isManager">
                <a class="nav-link" ui-sref="employeeSignUp" ui-sref-active="active">Cadastrar funcionários</a>
            </li>
            <li class="nav-item dropdown" ng-show="$ctrl.isEmployee">
                <a class="nav-link dropdown-toggle" id="navbarPropertiesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Imóveis</a>
                <div class="dropdown-menu" aria-labelledby="navbarPropertiesDropdown">
                    <a class="dropdown-item" ng-show="$ctrl.isAdmin" ui-sref="insertProperty" ui-sref-active="active">Cadastrar imóvel</a>
                    <a class="dropdown-item" ng-show="$ctrl.isAdmin" ui-sref="approveSales" ui-sref-active="active">Aprovar vendas</a>
                    <a class="dropdown-item" ng-show="$ctrl.isEmployee" ui-sref="propertyReservations" ui-sref-active="active">Reservas</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav">
            <span ng-show="$ctrl.loggedIn" style="padding-right:0.5rem;" class="navbar-text">{{ $ctrl.user.name }}</span>
            <li class="nav-item" ng-show="$ctrl.loggedIn">
                <span class="nav-link" ng-click="$ctrl.logOut()">Sair</span>
            </li>
        </ul>
    </div>
</nav>