<h3>Pesquisar imóveis</h3>

<div class="filters-container">
    <div class="filters-column" id="rentOrSale">
        <div class="form-group">
            <label for="rentOrSale">Alugar / Comprar</label>
            <select class="form-control form-control-sm" id="rentOrSale" ng-model="$ctrl.filter.rentOrSale">
                <option value="rent">Alugar</option>
                <option value="sale">Comprar</option>
                <option value="">Alugar e Comprar</option>
            </select>
        </div>
    </div>
    <div class="filters-column" id="rooms">
        <div class="filter-row">
            <input type="checkbox" id="roomsCheckbox" ng-model="$ctrl.enableFilter.rooms" ng-change="$ctrl.filterChange('rooms')">
            <label for="roomsCheckbox">Quartos</label>
            <input type="number" id="rooms" min="1" ng-show="$ctrl.enableFilter.rooms" ng-model="$ctrl.filterValue.rooms" ng-change="$ctrl.filterChange('rooms')">
        </div>
        <div class="filter-row">
            <input type="checkbox" id="bathroomsCheckbox" ng-model="$ctrl.enableFilter.bathrooms" ng-change="$ctrl.filterChange('bathrooms')">
            <label for="bathroomsCheckbox">Banheiros</label>
            <input type="number" id="bathrooms" min="1" ng-show="$ctrl.enableFilter.bathrooms" ng-model="$ctrl.filterValue.bathrooms" ng-change="$ctrl.filterChange('bathrooms')">
        </div>
    </div>
    <div class="filters-column" id="area">
        <div class="filter-row">
            <input type="checkbox" id="areaMinCheckbox" ng-model="$ctrl.enableFilter.areaMin">
            <label for="areaMinCheckbox">Área mínima</label>
            <input type="number" id="areaMin" min="10" ng-show="$ctrl.enableFilter.areaMin" ng-model="$ctrl.filterValue.areaMin">
        </div>
        <div class="filter-row">
            <input type="checkbox" id="areaMaxCheckbox" ng-model="$ctrl.enableFilter.areaMax">
            <label for="areaMaxCheckbox">Área máxima</label>
            <input type="number" id="areaMax" min="10" ng-show="$ctrl.enableFilter.areaMax" ng-model="$ctrl.filterValue.areaMax">
        </div>
    </div>
    <div class="filters-column" id="price">
        <div class="filter-row">
            <input type="checkbox" id="priceMinCheckbox" ng-model="$ctrl.enableFilter.priceMin">
            <label for="priceMinCheckbox">Preço mínimo</label>
            <input type="number" id="priceMin" min="10" ng-show="$ctrl.enableFilter.priceMin" ng-model="$ctrl.filterValue.priceMin">
        </div>
        <div class="filter-row">
            <input type="checkbox" id="priceMaxCheckbox" ng-model="$ctrl.enableFilter.priceMax">
            <label for="priceMaxCheckbox">Preço máximo</label>
            <input type="number" id="priceMax" min="10" ng-show="$ctrl.enableFilter.priceMax" ng-model="$ctrl.filterValue.priceMax">
        </div>
    </div>
    <div class="filters-column" id="state">
        <div class="form-group">
            <label for="state">Estado</label>
            <select class="form-control form-control-sm" id="state" ng-model="$ctrl.filter.state">
                <option value="">Qualquer</option>
                <option value="{{state}}" ng-repeat="state in $ctrl.addressStates">{{state}}</option>
            </select>
        </div>
    </div>
    <div class="filters-column" id="search">
        <div class="form-group">
            <label for="search">Buscar</label>
            <input type="text" class="form-control form-control-sm" id="search" ng-model="$ctrl.filterValue.query" placeholder="Endereço, descrição, título, ...">
        </div>
    </div>
    <div class="filters-column" id="orderBy">
        <div class="form-group">
            <label for="orderBy">Ordernar por</label>
            <select class="form-control form-control-sm" id="orderBy" ng-model="$ctrl.order" ng-change="$ctrl.orderChange()">
                <option value="price.asc">Menor Preço</option>
                <option value="price.desc">Maior Preço</option>
                <option value="area.asc">Menor Área</option>
                <option value="area.desc">Maior Área</option>
                <option value="rooms.asc">Menos Quartos</option>
                <option value="rooms.desc">Mais Quartos</option>
                <option value="bathrooms.asc">Menos Banheiros</option>
                <option value="bathrooms.desc">Mais Banheiros</option>
            </select>
        </div>
    </div>
</div>

<div class="results-container">
    <div class="pCard" ng-repeat="property in $ctrl.properties | filter: $ctrl.filter | filter: $ctrl.filterArea | filter: $ctrl.filterPrice | filter: $ctrl.search | orderBy: $ctrl.orderAttr:$ctrl.orderRev">
        <a href="#!/propertyDetails/{{ property.id }}">
            <div class="pCard-img-container">
                <img class="pCard-img" ng-src="{{ property.img || $ctrl.noPhotoImg }}">
            </div>
            <div class="pCard-body">
                <h5 class="pCard-title">{{ property.title }}</h5>
                <p class="pCard-description textOverflow4LineEllipsis">{{ property.description }}</p>
            </div>
            <div class="pCard-footer">
                <span class="badge" ng-class="{ 'green': property.rentOrSale == 'rent', 'blue': property.rentOrSale == 'sale' }">{{ $ctrl.rentOrSaleToTxt(property.rentOrSale) }}</span>
                <small class="text-muted">
                    <p class="pCard-text">Área: {{ property.area }} m²</p>
                    <p class="pCard-text">Quartos: {{ property.rooms }}</p>
                    <p class="pCard-text">Banheiros: {{ property.bathrooms }}</p>
                    <p class="pCard-text">Preço: {{ property.price | currency:'R$ ' }} {{ (property.rentOrSale == 'rent') ? '/ dia' : '' }}</p>
                </small>
            </div>
        </a>
    </div>
</div>
