<h3>Cadastro de cliente</h3>
<form name="signUpForm" on-submit="event.preventDefault()" ng-submit="submit(signUpForm.$valid)" novalidate>
    <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" name="name" ng-class="{ 'is-invalid': signUpForm.name.$invalid && !signUpForm.name.$pristine }"
            ng-model="$ctrl.name" required class="form-control" id="name" placeholder="Digite seu nome">
    </div>
    <div class="form-group">
        <label for="CPF">CPF</label>
        <input type="text" name="username" ng-class="{ 'is-invalid': signUpForm.username.$invalid && !signUpForm.username.$pristine }"
            required ng-minlength="11" ng-blur="$ctrl.checkUserExists()" ng-maxlength="11" ng-model="$ctrl.cpf" class="form-control" id="cpf" placeholder="Digite seu CPF">
        <small id="cpfHelp" class="form-text text-muted">
            O CPF será seu nome de usuário para acesso ao sistema
        </small>
    </div>
    <div class="form-group">
        <label for="phone">Telefone</label>
        <input type="text" name="phone" ng-class="{ 'is-invalid': signUpForm.phone.$invalid && !signUpForm.phone.$pristine }"
            ng-minlength="10" ng-model="$ctrl.phone" class="form-control" id="phone" placeholder="Digite seu telefone">
        <small id="phoneHelp" class="form-text text-muted">
            O telefone deve ser precedido pelo código de área (DDD)
        </small>
    </div>
    <div class="form-group">
        <label for="address">Endereço</label>
        <input type="text" name="address" ng-class="{ 'is-invalid': signUpForm.address.$invalid && !signUpForm.address.$pristine }"
            required ng-model="$ctrl.address" class="form-control" id="address" placeholder="Digite seu endereço">
        <small id="addressHelp" class="form-text text-muted">
            O endereço é composto por nome da rua e número. Ex.: Av. Paulista, 123
        </small>
    </div>

    <div class="form-row">
        <div class="form-group col-md-10">
            <label for="city">Cidade</label>
            <input type="text" name="city" ng-class="{ 'is-invalid': signUpForm.city.$invalid && !signUpForm.city.$pristine }"
                required ng-model="$ctrl.city" class="form-control" id="city" placeholder="Digite sua cidade">
        </div>
        <div class="form-group col-md-2">
            <label for="state">Estado</label>
            <select name="state" ng-class="{ 'is-invalid': signUpForm.state.$invalid && !signUpForm.state.$pristine }" ng-model="$ctrl.state" required class="form-control" id="state">
                <option ng-repeat="state in $ctrl.addressStates">{{ state }}</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" name="email" autocomplete="email" ng-class="{ 'is-invalid': signUpForm.email.$invalid && !signUpForm.email.$pristine }"
            required ng-model="$ctrl.email" class="form-control" id="email" placeholder="Digite seu e-mail">
    </div>
    <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" name="password" ng-class="{ 'is-invalid': signUpForm.password.$invalid && !signUpForm.password.$pristine }"
            required ng-minlength="6" ng-model="$ctrl.password" class="form-control" id="password" placeholder="Crie uma senha">
        <small id="passwordHelp" class="form-text text-muted">Sua senha deve conter ao menos 6 caracteres.</small>
    </div>
    <div class="form-group">
        <label for="passwordConfirm">Confirmação de senha</label>
        <input type="password" name="passwordConfirm" ng-class="{ 'is-invalid': signUpForm.passwordConfirm.$invalid && !signUpForm.passwordConfirm.$pristine }"
            required ng-minlength="6" ng-model="$ctrl.passwordConfirm" class="form-control" id="passwordConfirm" placeholder="Repita sua senha">
        <small id="passwordConfirmHelp" class="form-text text-muted">As senhas devem ser iguais</small>
    </div>
    <button type="submit" class="btn btn-primary" ng-click="$ctrl.submit(signUpForm.$valid)" ng-disabled="signUpForm.$invalid">Cadastrar-me!</button>
</form>