rent-property .pRent-container {
    padding: 2em;
}

rent-property h3 {
    margin-bottom: 0.75em;
}

rent-property .pRent-form {
    width: 40em;
}

rent-property .form-row {
    margin-bottom: 1em;
}

rent-property .form-row #totalPrice {
    margin-left: 1em;
    margin-top: 2em;
}

.daterangepicker td.disabled,
.daterangepicker option.disabled {
    text-decoration: none;
}

.daterangepicker td.available,
.daterangepicker option.available {
    font-weight: bold; 
}
.daterangepicker td.available:not(.active),
.daterangepicker option.available:not(.active) {
    color: green;
}