search-properties input {
    padding: .25rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
}

search-properties .form-group {
    margin-bottom: 0;
}

search-properties .form-check-input {
    margin-top: 0.6rem;
}


search-properties .filters-container {
    padding: 1em 1em 0em 1em;
    white-space: nowrap;
    overflow: auto;
    box-shadow: 4px 0px 5px -6px rgba(0, 0, 0, 0.5) inset, -4px 0px 5px -6px rgba(0, 0, 0, 0.5) inset;
}

search-properties .filters-container::-webkit-scrollbar {
    display: none;
}

search-properties .filters-column {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 1em;
    padding: 0 1.2em;
    border-right: 1px solid #d8d8d8;
}

search-properties .filters-column:first-child {
    padding-left: 0;
}

search-properties .filters-column:last-child {
    margin-right: 0;
    border-right: none;
}

search-properties .filters-column#rentOrSale,
search-properties .filters-column#state,
search-properties .filters-column#search {
    padding-top: 0.3em;
}

search-properties .filter-row {
    height: 2em;
    line-height: 2em;
    margin-bottom: 0.5em;
}

search-properties .filter-row:last-child {
    margin-bottom: 0;
}


search-properties .filters-column input[type="checkbox"] {
    margin-right: 0.5em;
}

search-properties .filters-column input[type="number"] {
    float: right;
    margin-left: 1em;
}

search-properties .filters-column#rooms input[type="number"] {
    float: right;
    width: 5em;
    margin-left: 1em;
}
